<header>
  <nav class="teal darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%= image_tag('logo.png', class: "responsive-img", style: "max-height: 56px;margin: 7px;") %></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to "Todo's", todos_path %></li>

          <li><%= image_tag(current_user.avatar, :class => 'circle responsive-img', :style => 'max-height: 50px; margin-top: 7px;') %></li>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete   %></li>
        <% else %>
          <li><%= link_to "Login", user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>