<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div class="row">
  <% @todos.each do |todo| %>
    <div class="col s4">

      <div class="card">
        <div class="card-content ">
          <span class="card-title"><%= todo.title %></span>

          <p><%= todo.description %></p>

          <table>
            <thead>
            <tr>
              <th colspan="4" class="center">Tasks</th>
            </tr>
            </thead>

            <tbody>
            <% todo.tasks.each do |task| %>
              <tr>
                <td><%= task.title %></td>
                <td><%= link_to "Edit",  edit_task_path(task)%></td>
                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>

        <div class="card-action">
          <%= link_to 'New Task', new_task_path(:todo_id => todo.id) %>
          <%= link_to "PDF", todo_path(todo, format: 'pdf') %>
          <%= link_to "CSV", todo_path(todo, format: 'csv') %>
          <%= link_to 'Edit', edit_todo_path(todo) %>
          <%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<a href="<%=new_todo_path %>" class="btn-floating halfway-fab  btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
